.section {
    width: 600px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.container {
    min-width: 588px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 492px);
}

.bun {
    margin-left: 32px;
}

.summary {
    display: flex;
    justify-content: flex-end;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text > svg {
    width: 33px;
    height: 33px;
}

.drop {
    opacity: 0.4;
}
