.element {
    background: var(--background);
}

.icon {
    margin-right: 8px;
    cursor: move;
}

.draggable {
    opacity: 0.4;
}

.item {
    display: flex;
    align-items: center;
    justify-content: left;
}