.card {
    position: relative;
    width: 272px;
    height: 208px;
}

.info:hover {
    cursor: pointer;
}

.price {
    display: flex;
    justify-content: center;
}

.name {
    text-align: center;
}

.image {
    cursor: move;
}