.orders {
    width: 860px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 160px);
    padding-right: 8px;
}
