.header {
    background: var(--background);
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    width: 1280px;
    height: 88px;
}

.logo {
    margin: 19px 288.85px 19px 112px;
}

.link {
    text-decoration: none;
    display: flex;
    gap: 8px;
    color: var(--text-inactive-color);
}

.link, .link > svg {
    transition: all 0.5s ease;
}

.linkSelected, .link:hover {
    color: var(--text-primary-color);
}

.linkSelected > svg, .link:hover > svg {
    fill: var(--text-primary-color);
}